Matchismo/Matchismo.xcodeproj/xcuserdata/vasco.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
BullsEye/.DS_Store
Calculator/.DS_Store
Calculator/Calculator.xcodeproj/project.xcworkspace/
Calculator/Calculator.xcodeproj/xcuserdata/
Matchismo/Matchismo.xcodeproj/project.xcworkspace/
Matchismo/Matchismo.xcodeproj/xcuserdata/vasco.xcuserdatad/xcdebugger/
Matchismo/Matchismo.xcodeproj/xcuserdata/vasco.xcuserdatad/xcschemes/Matchismo.xcscheme
The iOS Apprentice Bundle/
iOS 5 By Tutorials/
